[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "vendor/dramatis"]
	path = vendor/dramatis
	url = git://github.com/dramatis/dramatis.git
[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/jquery.print"]
	path = vendor/jquery.print
	url = git://github.com/smparkes/jquery.print.git
[submodule "vendor/jquery.svg"]
	path = vendor/jquery.svg
	url = git://github.com/smparkes/jquery.svg.git
[submodule "vendor/strophejs"]
	path = vendor/strophejs
	url = git://github.com/smparkes/strophejs.git
[submodule "vendor/jazz"]
	path = vendor/jazz
	url = git://github.com/smparkes/jazz.git
