!!!
%html{html_attrs}
  %head
    %title TTT
  %body
    %script{:type => "text/javascript", :src=>"../vendor/jquery/dist/jquery.js"}
    %script{:type => "text/javascript", :src=>"spec_helper.js"}

/ Local Variables:
/ mode:auto-revert
/ End:

