!!!
%html{html_attrs}
  %head
    %title Serve TTT!
  %body
    %script{:type => "text/javascript", :src=>"ttt.js"}
    %script{:type => "text/javascript", :src=>"serve.js"}

    #server

    %script{:type => "text/javascript"}
      var debug = window.console && window.console.debug || window.debug;
      false && debug && debug(window.location.href);

    %script{:type => "text/javascript", :src=>"spec_helper.js"}
